<div layout="column" layout-fill role="main">
  <!-- <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
      <md-icon md-svg-icon="content:ic_add_24px" aria-label="Plus"></md-icon>
    </md-button> -->
  <md-toolbar class="animate-show md-tall md-whiteframe-z1 md-hue-3" layout-align="center center">
    <div class="md-toolbar-tools">
      <h5 style="color:black">
        Create User
      </h5>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Return to Users List" ng-href="#/users">
        <ng-md-icon icon="keyboard_backspace" size="24" aria-label="Return" style="fill:black"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="model.form">
    <md-content layout-padding layout-wrap layout="column">
      <md-input-container>
        <label>Name</label>
        <input ng-model="model.user.name">
      </md-input-container>

      <md-input-container>
        <label>E-mail</label>
        <input ng-model="model.user.email" type="email">
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input ng-model="model.user.password" type="password">
      </md-input-container>

      <md-input-container>
        <label>Re-type Password</label>
        <input ng-model="model.retypePassword" type="password">
      </md-input-container>

      <md-radio-group ng-model="model.user.role">
        <md-radio-button value="ADMINISTRATOR" aria-label="ADMINISTRATOR">
          ADMINISTRATOR
        </md-radio-button>
        <md-radio-button value="USER" aria-label="USER">
          USER
        </md-radio-button>
      </md-radio-group>

      <span flex="10"></span>

      <div layout="row" layout-align="start center" flex>
        <span flex></span>
        <md-button class="md-fab" aria-label="Cancel" ng-href="#/">
          <ng-md-icon icon="clear" style="fill:white;  margin-top: 5px;" size="36" aria-label="Cancel"></ng-md-icon>
        </md-button>
        <md-button class="md-fab" aria-label="Create User" ng-href="#/">
          <ng-md-icon icon="save" aria-label="Save" style="fill:white; margin-top: 5px;" size="36"></ng-md-icon>
        </md-button>
      </div>
      <span flex="10"></span>
    </md-content>
  </form>
</div>
