<html ng-app="desafioChat">
  <head>
    <title>DesafioChat</title>
    <meta charset="utf-8">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="webjars/angular-material/1.0.6/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="webjars/angular-material-data-table/0.8.13/dist/md-data-table.min.css">
        <link rel="stylesheet" type="text/css" href="app/css/style.css">
  </head>

  <body layout="column" ng-controller="RootController" style="overflow:hidden">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools md-display-3" layout="row">
        <md-menu>
          <md-button aria-label="Open menu" class="md-fab-left" ng-click="openMenu($mdOpenMenu, $event)">
            <ng-md-icon md-menu-origin="" icon="menu" size="48" style="fill:white"></ng-md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="openIndexHandler()">
                <ng-md-icon icon="chat" size="36"></ng-md-icon>
                  Chat
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="openUsersHandler()">
                <ng-md-icon icon="people"></ng-md-icon>
                Users
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <span flex="5"></span>
        <div class="md-display-2" layout="row">
          <h1>Desafio Chat</h1>
        </div>
        <span flex></span>
        <span>{{user != null ? user.name : 'NO USER LOGGED!'}}</span>
        <md-button aria-label="exit" ng-href="logout">
          <ng-md-icon icon="exit_to_app" size="48" style="fill:white"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div layout="row" flex>

      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 md-hue-1" md-component-id="left" ng-show="showSideNav" md-is-locked-open="$mdMedia('gt-md')">
        <md-content layout="column" ng-if="model.isSearchingChatGroup == false">
          <md-toolbar class="animate-show md-tall md-whiteframe-z1" flex layout-align="center left">
              <h5 style="margin-left:20px">
                <span>Chat Groups</span>
              </h5>
          </md-toolbar>
          <md-fab-speed-dial  style="margin-top:5px"
                              md-direction="left"
                              md-open="model.isFabMenuOpen"
                              class="md-scale md-fab-top-right"
                              ng-mouseenter="model.isFabMenuOpen=true"
                              ng-mouseleave="model.isFabMenuOpen=false">
              <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-warn">
                    <ng-md-icon icon="more_vert" style="fill:white; margin-top:5px" size="36" aria-label="Menu"></ng-md-icon>
                   </md-button>
              </md-fab-trigger>
              <md-fab-actions>
                 <md-button class="md-fab" aria-label="Add New Group" ng-click="openChatGroupCreateHandler($event)">
                    <ng-md-icon icon="add" style="fill:white; margin-top:5px" size="36" aria-label="Plus"></ng-md-icon>
                 </md-button>
                 <md-button class="md-fab" aria-label="Add New Group" ng-click="openSearchChatGroup()">
                    <ng-md-icon icon="search" style="fill:white; margin-top:5px" size="36" aria-label="Plus"></ng-md-icon>
                 </md-button>
              </md-fab-actions>
          </md-fab-speed-dial>
        </md-content>
        <md-content layout="column" ng-if="model.isSearchingChatGroup == true">
          <md-toolbar class="animate-show md-tall md-whiteframe-z1" flex layout-align="center center">
            <form ng-submit="closeSearchInput()" novalidate="">
              <md-input-container class="md-block" flex>
                  <label>Search for Chat Group</label>
                  <input md-maxlength="50" id="searchText" name="searchText" ng-model="model.searchText" ng-change="listChatGroupsByFilter()" ng-blur="model.closeSearchInputAndClearText()">
                </md-input-container>
            </form>
          </md-toolbar>
        </md-content>
        <!--  -->
        <md-content layout-padding layout-wrap class="md-hue-1" flex="87">
          <div ng-repeat="group in model.userChatGroupsList" ng-class="(group.latestMessage == null) ? md-accent : md-primary" ng-click="openChatHandler(group.chatGroup.id)">
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <ng-md-icon  icon="chat" size="36"></ng-md-icon>
                </md-card-avatar>
                <md-card-header-text>
                  <h4>{{group.chatGroup.groupName}}</h4>
                </md-card-header-text>
              </md-card-header>
              <md-divider></md-divider>
              <md-card-content>
                <p style="overflow-wrap:break-word">{{group.chatGroup.latestMessage != null ?( group.chatGroup.latestMessage.message ) : 'NO MESSAGES'}}</p>
              </md-card-content>
            </md-card>
          </div>
        </md-content>
        <md-divider md-inset></md-divider>

      </md-sidenav>

      <div layout="column" flex id="content">

        <!-- NG-VIEW HTML -->
        <section ng-view></section>


        <!-- SCRIPTS -->
        <script type="text/javascript" src="webjars/jquery/2.2.2/jquery.min.js"/></script>
        <script type="text/javascript" src="webjars/angularjs/1.5.0/angular.min.js"></script>
        <script type="text/javascript" src="webjars/angularjs/1.5.0/angular-animate.min.js"></script>
        <script type="text/javascript" src="webjars/angularjs/1.5.0/angular-aria.min.js"></script>
        <script type="text/javascript" src="webjars/angularjs/1.5.0/angular-route.min.js"></script>
        <script type="text/javascript" src="webjars/angularjs/1.5.0/angular-messages.min.js"></script>
        <script type="text/javascript" src="webjars/ui-router/0.2.15/release/angular-ui-router.min.js"></script>

        <script type="text/javascript" src="webjars/angular-material/1.0.6/angular-material.min.js"></script>
        <script type="text/javascript" src="webjars/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
        <script type="text/javascript" src="webjars/angular-material-data-table/0.8.13/dist/md-data-table.min.js"></script>
        <script type="text/javascript" src="webjars/angular-scroll-glue/2.0.6/src/scrollglue.js"></script>
        <!-- websockets -->
        <script type="text/javascript" src="webjars/sockjs-client/1.0.3/dist/sockjs.min.js"></script>
        <script type="text/javascript" src="webjars/sockjs-client/1.0.3/dist/sockjs-0.3.4.min.js"></script>
        <script type="text/javascript" src="webjars/stomp-websocket/2.3.4/lib/stomp.min.js"></script>
        <!-- EITS -->
        <script type="text/javascript" src="webjars/eits-ng/1.1.0-SNAPSHOT/eits-ng.js"/></script>
        <script type="text/javascript" src="webjars/eits-ng/1.1.0-SNAPSHOT/broker/dwr-broker.js"/></script>
        <!-- DWR -->
        <script type="text/javascript" src="/chat/dwr/engine.js"></script>
        <script type="text/javascript" src="/chat/dwr/util.js"></script>

        <script type="text/javascript" src="app/js/app.js"></script>
        <script type="text/javascript" src="app/js/services/chat-websocket-service.js"></script>
        <script type="text/javascript" src="app/js/services/chatgroup-websocket-service.js"></script>
        <script type="text/javascript" src="app/js/services/user-authenticated-service.js"></script>
        <script type="text/javascript" src="app/js/controllers/root-controller.js"></script>
        <script type="text/javascript" src="app/js/controllers/user-chat-group-controller.js"></script>
        <script type="text/javascript" src="app/js/controllers/chat-group-create-modal-controller.js"></script>
        <!-- <script type="text/javascript" src="app/js/controllers/create-group-controller.js"></script> -->
        <!-- <script type="text/javascript" src="app/js/controllers/edit-group-controller.js"></script> -->
        <script type="text/javascript" src="app/js/controllers/users-list-controller.js"></script>
        <script type="text/javascript" src="app/js/controllers/create-user-modal-controller.js"></script>
        <script type="text/javascript" src="app/js/controllers/edit-user-modal-controller.js"></script>
        <script type="text/javascript" src="app/js/controllers/user-info-modal-controller.js"></script>
        <script type="text/javascript" src="app/js/controllers/chat-group-manage-users-modal-controller.js"></script>
        <script type="text/javascript" src="app/js/directives/compare-to.js"></script>
        <!-- web notifications -->
        <script type="text/javascript" src="webjars/github-com-neoziro-angular-notification/1.1.1/angular-notification.min.js"></script>





      </div>
    </div>
  </body>
</html>
