<html xmlns:ng="http://angularjs.org">
  <md-dialog aria-label="User Info" style="max-width: 1200px; max-height:820px">
    <md-dialog-content style="margin-top:30px; margin-left:10px; height: 775px; width:1000px;">
      <div layout="column" layout-fill role="main">
        <md-toolbar class="animate-show md-tall md-whiteframe-z1 md-hue-3" layout-align="center center">
          <div class="md-toolbar-tools">
            <h5>
              {{model.pageHeader}}
            </h5>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Return to Users List" ng-click="openCreateUserHandler($event)">
              <ng-md-icon icon="keyboard_backspace" size="24" aria-label="Return" style="fill:white"></ng-md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-content  ng-if="model.creatingUser == false" ng-show="model.creatingUser == false" md-scroll-y  flex>
          <form name="model.form">
            <md-content layout-padding layout-wrap layout="column">
              <md-input-container>
                <label>Name</label>
                <input id="name" name="name" ng-model="model.user.name" required ng-minlength="3" >
                <div ng-messages="model.form.name.$error" ng-if="model.form.name.$touched || model.form.$submitted">
                  <div ng-message="required">Name is Required (Minimun lenght = 3)!</div>
                </div>
              </md-input-container>

              <md-input-container>
                <label>E-mail</label>
                <input id="email" name="email" type="email" ng-model="model.user.email"  ng-change="validateEmail()" required>
                <div ng-messages="model.form.email.$error" ng-if="model.form.email.$touched || model.form.$submitted">
                  <div ng-message="required">Enter a valid e-mail address!</div>
                  <div ng-message="email">Not a valid e-mail address!</div>
                  <div ng-message="duplicateEmail">This E-mail is already registered!</div>
                </div>
              </md-input-container>

              <md-input-container>
                <label>Password</label>
                <input id="password" name="password" ng-model="model.user.password" type="password" required ng-minlength="4">
                <div ng-messages="model.form.password.$error" ng-if="(model.form.password.$touched || model.form.$submitted) && model.model.pageHeader == 'Create User'">
                  <div ng-message="required">Enter your password!</div>
                </div>
                <div ng-messages="model.form.confirmPassword.$error" ng-if="(model.form.confirmPassword.$touched || form.$submitted)">
                  <div ng-message="compareTo">Passwords doesnt match!</div>
                </div>
              </md-input-container>

              <md-input-container>
                <label>Re-type Password</label>
                <input id="confirmPassword" name="confirmPassword" ng-model="model.retypePassword" type="password" required compare-to='model.user.password' ng-minlength="4">
                <div ng-messages="model.form.confirmPassword.$error" ng-if="(model.form.confirmPassword.$touched || model.form.$submitted)">
                  <div  ng-if="(model.pageHeader == 'Create User')" ng-message="required">Enter your password!</div>
                  <div ng-message="compareTo">Passwords doesnt match!</div>
                </div>
              </md-input-container>

              <md-content layout-wrap layout="row" flex="10">
                <md-input-container>
                  <h4>Roles</h4>
                  <md-radio-group ng-model="model.user.role" required layout="row">
                    <md-radio-button value="ADMINISTRATOR" aria-label="ADMINISTRATOR">
                      ADMINISTRATOR
                    </md-radio-button>
                    <md-radio-button value="USER" aria-label="USER">
                      USER
                    </md-radio-button>
                  </md-radio-group>
                </md-input-container>

                <span flex="30"></span>

                <md-input-container>
                  <h4>User Status</h4>
                  <md-radio-group ng-model="model.user.enabled" required layout="row">
                    <md-radio-button  data-ng-value="true" aria-label="Active">
                      ACTIVE
                    </md-radio-button>
                    <md-radio-button  data-ng-value="false" aria-label="Inactive">
                      INACTIVE
                    </md-radio-button>
                  </md-radio-group>
                </md-input-container>
              </md-content>

              <md-content layout="row" layout-padding layout-wrap layout-align="end end">
                <!-- <span flex></span> -->
                <md-button class="md-fab" aria-label="Cancel" ng-click="hide()">
                  <ng-md-icon icon="clear" style="fill:white;  margin-top: 5px;" size="36" aria-label="Cancel"></ng-md-icon>
                </md-button>
                <md-button ng-if="model.form.$valid && model.pageHeader == 'Create User'" class="md-fab" aria-label="Create User" ng-click="insertUser()">
                  <ng-md-icon icon="save" aria-label="Save" style="fill:white; margin-top: 5px;" size="36"></ng-md-icon>
                </md-button>

                <md-button ng-if="model.pageHeader == 'Edit User'" class="md-fab" aria-label="Create User" ng-click="editUser()">
                  <ng-md-icon icon="save" aria-label="Save" style="fill:white; margin-top: 5px;" size="36"></ng-md-icon>
                </md-button>
              </md-content>
            </md-content>
          </form>
        </md-content>
          <!-- if inserting user into database and sending email - progress circular -->
        <div layout="column" layout-fill layout-align="center center"  ng-if="model.creatingUser == true" ng-show="model.creatingUser == true">
          <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
</html>
