<div layout="column" layout-fill role="main">
  <!-- <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
      <md-icon md-svg-icon="content:ic_add_24px" aria-label="Plus"></md-icon>
    </md-button> -->
  <md-toolbar class="animate-show md-tall md-whiteframe-z1 md-hue-3" layout-align="center center">
    <div class="md-toolbar-tools">
      <h5 style="color:black">
        {{model.pageHeader}}
      </h5>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Return to Users List" ng-href="#/users">
        <ng-md-icon icon="keyboard_backspace" size="24" aria-label="Return" style="fill:black"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>


  <form name="form" novalidate="">
    <md-content layout-padding layout-wrap layout="column">
      <md-input-container>
        <label>Name</label>
        <input id="name" name="name" ng-model="model.user.name" required ng-minlength="3" >
        <div ng-messages="form.name.$error" ng-if="form.name.$touched || form.$submitted">
          <div ng-message="required">Name is Required (Minimun lenght = 3)!</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>E-mail</label>
        <input id="email" name="email" ng-model="model.user.email" type="email" required>
        <div ng-messages="form.email.$error" ng-if="form.email.$touched || form.$submitted">
          <div ng-message="required">Enter a valid e-mail address!</div>
          <div ng-message="email">Not a valid e-mail address!</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input id="password" name="password" ng-model="model.user.password" type="password" required ng-minlength="4">
        <div ng-messages="form.password.$error" ng-if="(form.password.$touched || form.$submitted) && model.pageHeader == 'Create User'">
          <div ng-message="required">Enter your password!</div>
        </div>
        <div ng-messages="form.confirmPassword.$error" ng-if="(form.confirmPassword.$touched || form.$submitted)">
          <div ng-message="compareTo">Passwords doesnt match!</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Re-type Password</label>
        <input id="confirmPassword" name="confirmPassword" ng-model="model.retypePassword" type="password" required compare-to='model.user.password' ng-minlength="4">
        <div ng-messages="form.confirmPassword.$error" ng-if="(form.confirmPassword.$touched || form.$submitted)">
          <div  ng-if="(model.pageHeader == 'Create User')" ng-message="required">Enter your password!</div>
          <div ng-message="compareTo">Passwords doesnt match!</div>
        </div>
      </md-input-container>

      <md-content layout-padding layout-wrap layout="row">
        <md-input-container>
          <h4>Roles</h4>
          <md-radio-group ng-model="model.user.role" required layout="row">
            <md-radio-button value="ADMINISTRATOR" aria-label="ADMINISTRATOR">
              ADMINISTRATOR
            </md-radio-button>
            <md-radio-button value="USER" aria-label="USER">
              USER
            </md-radio-button>
          </md-radio-group>
        </md-input-container>

        <span flex="30"></span>

        <md-input-container>
          <h4>User Status</h4>
          <md-radio-group ng-model="model.user.enabled" required layout="row">
            <md-radio-button  data-ng-value="true" aria-label="Active">
              ACTIVE
            </md-radio-button>
            <md-radio-button  data-ng-value="false" aria-label="Inactive">
              INACTIVE
            </md-radio-button>
          </md-radio-group>
        </md-input-container>
      </md-content>

      <div layout="row" layout-align="start center" flex>
        <span flex></span>
        <md-button class="md-fab" aria-label="Cancel" ng-href="#/">
          <ng-md-icon icon="clear" style="fill:white;  margin-top: 5px;" size="36" aria-label="Cancel"></ng-md-icon>
        </md-button>
        <md-button class="md-fab" aria-label="Create User" ng-click="model.pageHeader == 'Create User' ? insertUser() : editUser()">
          <ng-md-icon icon="save" aria-label="Save" style="fill:white; margin-top: 5px;" size="36"></ng-md-icon>
        </md-button>
      </div>
    </md-content>
  </form>
</div>
